.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Header a {
  text-decoration: none;
  color: white;
  background-color: rgb(82, 82, 82);
  padding: 10px;
}

.Header .btn-container {
  display: flex;
  align-items: center;
}

.Header .sign-out-box {
  display: flex;
  padding-left: 20px;
}

.Header button {
  margin-left: 10px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgba(160, 160, 160, 0.927);
}

.Header button:hover,
.Header a:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
